body
{
    background-color: #636e72;
    
}

.bgimage
{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    animation: fadeIn .5s;    
    opacity: 0.8;
}

.name
{
    color: #ECF0F1 ;
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-item.nav-link:hover
{
    transform: scale(1.1);
    transition: .7s;
    
}


.container
{
    width: 300px;
    height: 300px;

}
.container .box
{
    width: 100px;
    height: 100px;
    opacity: 0.5;
    animation: fun 1s linear alternate infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .box::before
{
   content: "running";
}

.container .box:hover
{
    animation-play-state: paused;
   
}

.container .box:hover::before
{
    content: "paused";
}

@keyframes fun
{
    0%
    {
        width:50px;
        height: 100px;
        background-color: aqua;
    }
    100%{
        width:150px;
        height: 100px;
        background-color: dodgerblue;
    }
}
@keyframes fadeIn
{
    0%
    {
        opacity:0;
    }
    100%
    {
        opacity: .9;
    }
}